@import "tailwindcss";

@font-face {
  font-family: "Dana";
  src: url("/assets/fonts/dana/DanaFaNum-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dana";
  src: url("/assets/fonts/dana/DanaFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dana";
  src: url("/assets/fonts/dana/DanaFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dana";
  src: url("/fonts/dana/DanaFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dana";
  src: url("/assets/fonts/dana/DanaFaNum-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-dana: "Dana";
}

body {
  @apply font-dana;
}
